html {
    background-image: url("../images/background_space.jpg");
}

#heading {
    float:left;
    padding: 0px;
    margin: 0px;
}

header{
    color:white;
}

ul {
    float:left;
    padding:0;
}

li {
    list-style-type: none;
    margin: 0%;
    padding: 1%;
    display: inline;
    width: 10;
}

